#banner {
    background-image: url("../images/logo.png");
}
span.red {
    color: red;
}
span.big {
    font-size: larger;
}
strong.red {
    color: red;
}
strong.big {
    font-size: larger;
}
mark {
    background: yellow;
}
